@font-face {
  font-family: RubikLines;
  src: url(../fonts/RubikLines-Regular.ttf);
}
.home {
  width: 100%;
  height: auto;
  background-color: white;
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
}
.home-logo {
  width: 350px;
  position: relative;
}
.header {
  margin-bottom: 20px;
  color: #173b45;
  text-decoration: double #173b45 underline;
  font-size: 3.4em;
  font-family: RubikLines;
}

h3 {
  font-size: 1.5em;
  color: #ffaf00;
  margin-bottom: 20px;
}
em {
  font-weight: 700;
  color: #808d7c;
}
.welcome-Message {
  font-size: 1.3em;
  width: 600px;
  margin-bottom: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

button {
  color: white;
  background-color: #173b45;
  border-radius: 4px;
  font-size: 1.3rem;
}
button:hover {
  cursor: pointer;
  color: #173b45;
  background-color: #ffaf00;
}

/* Media Query for Tablets and Mobile Devices */
@media only screen and (max-width: 768px) {
  .home {
    margin: 0px; /* Reduce margin for smaller screens */
    padding: 15px; /* Adjust padding */
  }

  .header {
    font-size: 2.4em; /* Adjust font size for smaller screens */
  }

  h3 {
    font-size: 1.2em; /* Adjust font size */
  }

  .welcome-Message {
    font-size: 1em; /* Further adjust for readability */
    width: 95%; /* Increase width to use more screen space */
  }

  .home-logo {
    display: none;
    width: 100%; /* Ensure the image scales properly */
    max-width: 250px; /* Limit image size */
    margin-top: 20px; /* Add some spacing */
  }

  button {
    font-size: 1.1rem; /* Adjust button text size */
  }
}

@media only screen and (max-width: 480px) {
  .header {
    font-size: 2em; /* Further reduce font size for very small screens */
  }

  h3 {
    font-size: 30em; /* Further adjust for readability */
  }

  .welcome-Message {
    font-size: 0.9em; /* Smaller font size for readability */
  }

  .home-logo {
    display: none;
  }

  button {
    font-size: 1rem; /* Smaller font size for very small screens */
    padding: 8px 15px; /* Adjust padding for better fit */
  }
}
